GOOGLE_CLOUD_PROJECT=massive-house-506806-t6
GOOGLE_CLOUD_LOCATION=us-central1
AGENT_REGISTRY_LOCATION=us-central1

GEMINI_MODEL=REPLACE_WITH_CONFIRMED_AVAILABLE_GEMINI_MODEL
CLOUD_RUN_SERVICE_URL=https://REPLACE_WITH_DEPLOYED_CLOUD_RUN_URL

USE_FIRESTORE=true
USE_PUBSUB=true
USE_CLOUD_TRACE=true
REGISTER_WITH_AGENT_REGISTRY=false

FLASK_ENV=production
PORT=8080
